* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #667eea, #764ba2);
    font-family: Arial, sans-serif;
    overflow: hidden;
}
.login-container {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}
button {
    width: calc(100% - 20px);
    padding: 10px;
    background: #667eea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: #5563c1;
}

button:disabled {
    background: #8d91ad;  /* 禁用时的背景色 */
    cursor: not-allowed;  /* 禁用时的鼠标指针 */
}

button:disabled:hover {
    background: #8d91ad;  /* 禁用时，鼠标悬停时不改变背景 */
}

.message {
    margin-top: 10px;
    color: red;
}